<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse white-bg">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-start" src="~/image/FCS.jpg" width="150" height="75"/>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
        </ul>

    </div>
</nav>